##02-4 튜플 자료형

In [2]:
t1 = ()
t2 = (1, ) #요소 하나일 땐 뒤에 쉼표
t3 = (1, 2, 3)
t4 = 1, 2, 3 #소괄호 생략 가능
t5 = ('a', 'b', ('ab', 'cd'))
#요솟값 변화 불가능

In [4]:
t1 = (1, 2, 'a', 'b')
#del t1[0] #튜플이므로 요솟값 지울 수 없음

In [6]:
# 인덱싱
print(t1[0])
print(t1[3])

1
b

In [7]:
# 슬라이싱
t1[1:]

(2, 'a', 'b')

In [9]:
# 튜플 더하기
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [10]:
# 튜플 곱하기
t2 = (3, 4)
t3 = t2 * 3
t3

(3, 4, 3, 4, 3, 4)

In [11]:
#튜플 길이 구하기
t1 = (1, 2, 'a', 'b')
len(t1)

4

In [12]:
# 튜플은 요솟값 변경 불가능 -> sort, insert, remove, pop 내장 함수 x

##02-5 딕셔너리 자료형 (사전)

In [18]:
dic = {'name':'pey', 'phone':'010-9999-1234', 'birth':'1118'}
# key : value

In [14]:
#딕셔너리 쌍 추가하기
a = {1: "a"}
a[2] = "b"
a

{1: 'a', 2: 'b'}

In [15]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [16]:
#딕셔너리 요소 삭제
del a[1]
a

{2: 'b', 'name': 'pey'}

In [17]:
#딕셔너리에서 Key를 사용해 Value 얻기
grade = {'pey': 10, 'julliet': 99}
grade['pey']

10

In [21]:
# 딕셔너리 만들 때 주의할 사항
# Key는 고유한 값이므로 중복되는 Key의 값일 경우 
# 하나를 제외한 나머지 것들이 모두 무시됨
a = {1:'a', 1:'b'}
a
# Key에 리스트 사용 불가능 (변하는 값 불가능)
#a = {[1,2] : "hi"}

{1: 'b'}

In [22]:
# Key 리스트 만들기
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.keys() #Key만을 모아 dict_keys 객체 리턴

dict_keys(['name', 'phone', 'birth'])

In [25]:
for k in a.keys() :
    print(k)
list(a.keys())

name
phone
birth

['name', 'phone', 'birth']

In [26]:
# Value 리스트 만들기
a.values()

dict_values(['pey', '010-9999-1234', '1118'])

In [27]:
# Key, Value 쌍 얻기
a.items()

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [28]:
# Key:Value 쌍 모두 지우기
a.clear()
a

{}

In [33]:
#Key로 Value 얻기
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print(a.get('name'))
print(a['name'])
# 차이: 존재하지 않는 키로 값을 가져오려고 할 경우
# a.get['n']은 None을 리턴하고, a['n']는 오류 발생

pey
pey

In [35]:
# 해당 Key가 딕셔너리 안에 있는지 조사하기
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print('name' in a)
print('email' in a)

True
False

##02-6 집합 자료형 (set 키워드 사용해 만들 수 있음)

In [36]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [38]:
s2 = set("Hello")
s2
# 중복을 허용하지 않으며 순서가 없음

{'H', 'e', 'l', 'o'}

In [40]:
# 교집합 구하기 (&)
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
print(s1 & s2)
print(s2.intersection(s1))
print(s1.intersection(s2))

{4, 5, 6}
{4, 5, 6}
{4, 5, 6}

In [42]:
# 합집합 구하기 (|)
print(s1 | s2)
print(s1.union(s2))
print(s2.union(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [43]:
# 차집합 구하기
print(s1 - s2)
print(s1.difference(s2)) # s1 - s2
print(s2.difference(s1)) # s2 - s1

{1, 2, 3}
{1, 2, 3}
{8, 9, 7}

In [45]:
# 값 1개 추가하기
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [46]:
# 값 여러 개 추가하기
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [47]:
# 특정 값 제거하기 
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}