## Hello World 문자열을 출력하세요.

In [1]:
#여기에
print("Hello World")

Hello World

## 숫자 3을 출력하세요.

In [3]:
#여기에
3

3

# 아래 문자열에서 'P'를 출력하세요.
word = "Python"

In [9]:
#여기에
word = "Python"
word[0]

'P'

# name과 age 변수를 사용하여 "My name is John and I am 25 years old."을 출력하세요.
name = "John"
age = 25

In [5]:
#여기에
name = "John"
age = 25
"My name is %s and I am %d years old." % (name, age)

'My name is John and I am 25 years old.'

# 아래 문자열을 공백을 기준으로 나누어 리스트로 변환하세요.
sentence = "Python is a powerful programming language"

In [7]:
#여기에
sentence = "Python is a powerful programming language"
sentence.split()

['Python', 'is', 'a', 'powerful', 'programming', 'language']

# 아래 문자열에서 "Hello"만 출력하세요.(슬라이싱 활용)
sentence = "Hello, world!"

In [9]:
#여기에
sentence = "Hello, world!"
sentence[0:5]

'Hello'

# 아래 문자열의 왼쪽 공백을 제거하세요.
text = "   Python is awesome!"

In [11]:
#여기에
text = " Python is awesome!"
text.lstrip()

'Python is awesome!'

# 정수 10을 변수 num에 저장하세요.

In [15]:
#여기
num = 10
num

10

# 변수 x에서 y를 뺀 결과를 출력하세요.
x = 50
y = 23

In [17]:
#여기에
x = 50
y = 23
x-y

27

# 변수 num1을 num2로 나눈 결과를 출력하세요.
num1 = 25
num2 = 4

In [19]:
#여기에
num1 = 25
num2 = 4
num1 / num2

6.25

# 2의 5제곱을 계산하여 출력하세요.

In [21]:
#여기에
2 ** 5

32

# 변수 num에 10을 더한 값을 저장하고 출력하세요.(복합연산자 사용!)
num = 5

In [1]:
#여기에
num = 5
num += 10
num

15

# 괄호를 사용하여 10 + 2를 먼저 계산하도록 수정하고 결과를 출력하세요.
result = 10 + 2 * 3

In [7]:
#여기에
result = (10 + 2) * 3
result

36

# type()을 이용하여 정수 2의 타입을 확인해보자 --> a=2로 변수 할당 후 type(a) 출력

In [9]:
#여깅에
a = 2
type(a)

int

# a를 정수형에서 실수형으로 타입을 바꾸고 확인해보자. --> float() 사용하고 type()으로 확인

In [11]:
#여기
a = 2
b = float(a)
type(b)

float

# 29를 5로 나눈 몫과 나머지를 각각 출력하세요.

In [13]:
#여기에
a = 29//5
b = 29 % 5
a, b

(5, 4)

# 변수 pi에 3.1415926535를 저장하고, 소수점 둘째 자리까지 반올림하여 출력하세요.
pi = 3.1415926535

In [15]:
#여기에
pi = 3.1415926535
"{0:0.2f}".format(pi)

'3.14'

# 리스트 문제

numbers = [5, 12, 7, 3, 9, 7, 1, 4, 7, 6]

## numbers 리스트에 들어있는 요소의 개수를 출력하세요.

In [33]:
#여기에
numbers = [5, 12, 7, 3, 9, 7, 1, 4, 7, 6]
len(numbers)

10

## 리스트에서 숫자 7이 몇 번 등장하는지 출력하세요.(count사용)

In [35]:
#여기에
numbers.count(7)

3

## 1.numbers 리스트를 오름차순으로 정렬한 후 출력하세요.
## 2.정렬 후 리스트를 내림차순으로 정렬하여 다시 출력하세요.

In [37]:
# 1)
numbers.sort()
print(numbers)
# 2)
numbers.sort(reverse=True)
print(numbers)

[1, 3, 4, 5, 6, 7, 7, 7, 9, 12]
[12, 9, 7, 7, 7, 6, 5, 4, 3, 1]

## 리스트에서 숫자 9가 위치한 인덱스를 출력하세요.

In [39]:
#여기에
numbers.index(9)

1

## 1.리스트의 첫 번째 요소를 99로 변경하고 출력하세요.
## 2.리스트의 마지막 요소를 0으로 변경하고 출력하세요.

In [41]:
#1)
numbers[0] = 99
numbers

[99, 9, 7, 7, 7, 6, 5, 4, 3, 1]

In [43]:
#2)
numbers[-1] = 0
numbers

[99, 9, 7, 7, 7, 6, 5, 4, 3, 0]

## 인덱스 3 위치에 숫자 100을 삽입하고 출력하세요.

In [45]:
#여기에
numbers.insert(3,100)
numbers

[99, 9, 7, 100, 7, 7, 6, 5, 4, 3, 0]

## 1.del을 사용하여 리스트의 두 번째 요소를 삭제하고 출력하세요.
## 2.remove를 사용하여 숫자 7을 한 개 삭제하고 출력하세요.
## 3.pop을 사용하여 마지막 요소를 꺼내어 출력하고, 변경된 리스트도 출력하세요

In [47]:
#1)
del numbers[1]
numbers

[99, 7, 100, 7, 7, 6, 5, 4, 3, 0]

In [50]:
#2)
numbers.remove(7)
numbers

[99, 100, 7, 7, 6, 5, 4, 3, 0]

In [52]:
#3)
numbers.pop()

0

In [54]:
#3)
numbers

[99, 100, 7, 7, 6, 5, 4, 3]

## del과 remove와 pop의 차이에 대하여 간단히 적어보자.

In [56]:
# 여기에
#del : 지정하는 순서의 값을 삭제
#remove : 지정하는 값을 삭제
#pop : 맨마지막만 끄집어낸 후 삭제

## 리스트의 순서를 반대로 뒤집고 출력하세요.

In [58]:
#여기에
numbers.reverse()
numbers

[3, 4, 5, 6, 7, 7, 100, 99]

## [8, 10, 15] 리스트를 numbers 리스트에 확장하여 추가하고 출력하세요.

In [60]:
#여기에
numbers.extend([8, 10, 15])
numbers

[3, 4, 5, 6, 7, 7, 100, 99, 8, 10, 15]

## 1.리스트에서 처음 5개의 요소만 슬라이싱하여 출력하세요.
## 2.리스트의 마지막 3개의 요소만 슬라이싱하여 출력하세요.
## 3.리스트의 짝수 번째 요소(0, 2, 4, …)만 출력하세요.

In [62]:
#1)
numbers[0:5]

[3, 4, 5, 6, 7]

In [64]:
#2)
numbers[-3:]

[8, 10, 15]

In [66]:
#3)
numbers[0::2]

[3, 5, 7, 100, 8, 15]

##  슈퍼마켓 재고 관리 시스템
슈퍼마켓에는 여러 종류의 과일이 있다. 현재 슈퍼마켓의 과일 재고는 다음과 같다.


fruits = ["사과", "바나나", "포도", "오렌지", "수박"]


1) 손님이 와서 "포도"를 구매했다. 리스트에서 "포도"를 삭제하고 출력하세요.

2) 새로운 과일 "망고"가 입고되었다. 리스트에 추가하고 출력하세요.

3) 가게 사장이 과일을 가나다순으로 정리하려고 한다. 정렬해서 출력하세요.

4) "바나나"가 얼마나 남아 있는지 확인하려고 한다. 리스트에서 "바나나"가 몇 개 있는지 출력하세요.

In [68]:
fruits = ["사과", "바나나", "포도", "오렌지", "수박"]
#1)
fruits.remove("포도")
print(fruits)
#2)
fruits.append("망고")
print(fruits)
#3)
fruits.sort()
print(fruits)
#4)
fruits.count("바나나")

['사과', '바나나', '오렌지', '수박']
['사과', '바나나', '오렌지', '수박', '망고']
['망고', '바나나', '사과', '수박', '오렌지']

1