## 02-1 숫자형

### 정수형

In [ ]:
a = 123
a = -178
a = 0

### 실수형

In [ ]:
a = 1.2
a = -3.45
a = 4.24E10
a = 4.24e-10

### 8진수와 16진수

In [ ]:
a = 0o177
print(a)

a = 0x8ff
b = 0xABC
print(b)

### 사칙연산

In [ ]:
a = 3
b = 4
print(a + b)
print(a - b)
print(a * b)
print(a / b)

### x의 y제곱을 나타내는 ** 연산자

In [ ]:
print(a ** b)

### 나눗셈 후 나머지를 리턴하는 % 연산자

In [ ]:
print(7 % 3)
print(3 % 7)

### 나눗셈 후 몫을 리턴하는 // 연산자

In [ ]:
print(7 / 4)
print(7 // 4)

### 복합 연산자

In [ ]:
a = 1
a = a + 1  # a + 1로 계산된 값을 다시 a에 대입한다.
print(a)

a += 1

a = 1
a -= 1  # a = a - 1 과 같음
print(a)

## 02-2 문자열 자료형

In [ ]:
"Life is too short, You need Python"
"a"
"123"

In [ ]:
"Hello World"  #1. 큰따옴표로 양쪽 둘러싸기
'Python is fun'  #2. 작은따옴표로 양쪽 둘러싸기
"""Life is too short, You need python"""  #3. 큰따옴표 3개를 연속으로 써서 양쪽 둘러싸기
'''Life is too short, You need python'''  #4. 작은따옴표 3개를 연속으로 써서 양쪽 둘러싸기

### 문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때

1. 문자열에 작은따옴표 포함하기

In [ ]:
food = "Python's favorite food is perl"
print(food)

2. 문자열에 큰따옴표 포함하기

In [ ]:
"Python is very easy." he says.

say = '"Python is very easy." he says.'
print(say)

3. 역슬래시를 사용해서 작은따옴표와 큰따옴표를 문자열에 포함하기

In [ ]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."
print(food)
print(say)

### 여러 줄인 문자열을 변수에 대입하고 싶을 때

1. 줄을 바꾸기 위한 이스케이프 코드 \n 삽입하기

In [1]:
multiline = "Life is too short\nYou need python"

2. 연속된 작은따옴표 3개 또는 큰따옴표 3개 사용하기

In [2]:
multiline='''
... Life is too short
... You need python
... '''
print(multiline)

multiline="""
... Life is too short
... You need python
... """
print(multiline)

Life is too short
You need python


Life is too short
You need python

### 문자열 연산하기

문자열 더해서 연결하기

In [3]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

문자열 곱하기

In [4]:
a = "python"
a * 2

'pythonpython'

### 문자열 길이 구하기

In [5]:
a = "Life is too short"
len(a)

17

### 문자열 인덱싱과 슬라이싱

문자열 인덱싱

In [ ]:
a = "Life is too short, You need Python"

a[3]

문자열 인덱싱 활용하기

In [7]:
a = "Life is too short, You need Python"
a[0]

a[12]

a[-1]

'n'

문자열 슬라이싱

In [8]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [9]:
a = "Life is too short, You need Python"
a[0:4]

'Life'

문자열을 슬라이싱하는 방법

In [ ]:
a[0:5]
a[0:2]
a[5:7]
a[12:17]
a[19:]
a[:17]
a[:]
a[19:-7]

슬라이싱으로 문자열 나누기

In [10]:
a = "20230331Rainy"
date = a[:8]
weather = a[8:]
date
weather

'Rainy'

In [11]:
a = "20230331Rainy"
year = a[:4]
day = a[4:8]
weather = a[8:]
year
day
weather

'Rainy'

### 문자열 포매팅 따라하기

1. 숫자 바로 대입

In [12]:
"I eat %d apples." % 3

'I eat 3 apples.'

2. 문자열 바로 대입

In [ ]:
"I eat %s apples." % "five"

3. 숫자 값을 나타내는 변수로 대입

In [13]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

4. 2개 이상의 값 넣기

In [14]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

### 문자열 포맷 코드

In [15]:
"I have %s apples" % 3
"rate is %s" % 3.234

'rate is 3.234'

### 포맷 코드와 숫자 함께 사용하기

1. 정렬과 공백

In [16]:
"%10s" % "hi"
"%-10sjane." % 'hi'

'hi        jane.'

2. 소수점 표현하기

In [ ]:
"%0.4f" % 3.42134234
"%10.4f" % 3.42134234

### format 함수를 사용한 포매팅

숫자 바로 대입하기

In [17]:
"I eat {0} apples".format(3)

'I eat 3 apples'

문자열 바로 대입하기

In [18]:
"I eat {0} apples".format("five")

'I eat five apples'

숫자 값을 가진 변수로 대입하기

In [19]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

2개 이상의 값 넣기

In [20]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

이름으로 넣기

In [21]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

인덱스와 이름을 혼용해서 넣기

In [22]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

오른쪽 정렬

In [23]:
"{0:>10}".format("hi")

'        hi'

가운데 정렬

In [24]:
"{0:^10}".format("hi")

'    hi    '

공백 채우기

In [25]:
"{0:=^10}".format("hi")
"{0:!<10}".format("hi")

'hi!!!!!!!!'

소수점 표현하기

In [ ]:
y = 3.42134234
"{0:0.4f}".format(y)

"{0:10.4f}".format(y)

'3.4213'

{ 또는 } 문자 표현하기

In [27]:
"{{ and }}".format()

'{ and }'

### f 문자열 포매팅

In [28]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [29]:
age = 30
f'나는 내년이면 {age + 1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [30]:
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [ ]:
f'{"hi":<10}'  # 왼쪽 정렬

f'{"hi":>10}'  # 오른쪽 정렬

f'{"hi":^10}'  # 가운데 정렬

f'{"hi":=^10}'  # 가운데 정렬하고 '=' 문자로 공백 채우기

f'{"hi":!<10}'  # 왼쪽 정렬하고 '!' 문자로 공백 채우기

y = 3.42134234
f'{y:0.4f}'  # 소수점 4자리까지만 표현

f'{y:10.4f}'

f'{{ and }}'

### 문자열 관련 함수들

문자 개수 세기 - count

In [31]:
a = "hobby"
a.count('b')

2

위치 알려 주기 1 - find

In [32]:
a = "Python is the best choice"
a.find('b')

a.find('k')

-1

위치 알려 주기 2 - index

In [ ]:
a = "Life is too short"
a.index('t')

a.index('k')

문자열 삽입 - join

In [ ]:
",".join('abcd')

",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

소문자를 대문자로 바꾸기 - upper

In [35]:
a = "hi"
a.upper()

'HI'

대문자를 소문자로 바꾸기 - lower

In [36]:
a = "HI"
a.lower()

'hi'

왼쪽 공백 지우기 - lstrip

In [37]:
a = " hi "
a.lstrip()

'hi '

오른쪽 공백 지우기 - rstrip

In [38]:
a= " hi "
a.rstrip()

' hi'

양쪽 공백 지우기 - strip

In [39]:
a = " hi "
a.strip()

'hi'

문자열 바꾸기 - replace

In [40]:
a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

문자열 나누기 - split

In [41]:
a = "Life is too short"
a.split()
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

## 02-3 리스트 자료형

### 리스트는 어떻게 만들고 사용할까?

In [ ]:
odd = [1, 3, 5, 7, 9]

a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

### 리스트의 인덱싱과 슬라이싱

리스트의 인덱싱

In [42]:
a = [1, 2, 3]
a

[1, 2, 3]

In [ ]:
a[0]
a[0] + a[2]
a[-1]

In [43]:
a = [1, 2, 3, ['a', 'b', 'c']]

a[0]
a[-1]
a[3]
a[-1][0]
a[-1][1]
a[-1][2]

'c'

리스트의 슬라이싱

In [44]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [45]:
a = "12345"
a[0:2]

'12'

In [46]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
b
c

[3, 4, 5]

### 리스트 연산하기

리스트 더하기(+)

In [47]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

리스트 반복하기(*)

In [48]:
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

리스트 길이 구하기

In [49]:
a = [1, 2, 3]
len(a)

3

### 리스트의 수정과 삭제

리스트의 값 수정하기

In [50]:
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

del 함수를 사용해 리스트 요소 삭제하기

In [51]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [52]:
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

### 리스트 관련 함수

리스트에 요소 추가하기 - append

In [53]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [54]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

리스트 정렬 - sort

In [ ]:
a = [1, 4, 3, 2]
a.sort()
a

In [55]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

리스트 뒤집기 - reverse

In [56]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

인덱스 반환 - index

In [57]:
a = [1, 2, 3]
a.index(3)
a.index(1)

0

리스트에 요소 삽입 - insert

In [58]:
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [59]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

리스트 요소 제거 - remove

In [60]:
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [61]:
a.remove(3)
a

[1, 2, 1, 2]

리스트 요소 끄집어 내기 - pop

In [62]:
a = [1, 2, 3]
a.pop()
a

[1, 2]

In [63]:
a = [1, 2, 3]
a.pop(1)
a

[1, 3]

리스트에 포함된 요소 x의 개수 세기 - count

In [64]:
a = [1, 2, 3, 1]
a.count(1)

2

리스트 확장 - extend

In [65]:
a = [1, 2, 3]
a.extend([4, 5])
a

b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]